<!-- templates/companies/delete_company.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar compañia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Eliminar compañia</h1>
    <p>Estas seguro que deseas eliminar {{ company.name }}?</p>
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'companies:index' %}" class="btn btn-secondary">Atras</a>
        <button type="submit" class="btn btn-danger">Si, eliminar</button>
    </form>
</div>
</body>
</html>
