<!-- templates/events/edit_event.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Evento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Editar Evento</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <a href="{% url 'events:index' %}" class="btn btn-secondary">Atras</a>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</body>
</html>
